= form_for [:admin, @party_list] do |f|
  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :acronym
    = f.text_field :acronym, class: 'form-control'

  .form-group
    = f.label :ballot_number
    = f.text_field :ballot_number, class: 'form-control'

  .form-group
    = f.submit class: 'btn btn-primary form-control'
