.container-fluid
  .row
    .col-sm-4.col-sm-offset-3
      .content-containers
        .container-head
          %span.text-center Login
        .container-body
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .form-group
              = f.text_field :username, autofocus: true, placeholder: 'Username', class: 'form-control'

            .form-group
              = f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control'

            - if devise_mapping.rememberable?
              .form-group
                = f.check_box :remember_me
                = f.label :remember_me

            .form-group
              = f.submit "Log in", class: 'btn btn-primary form-control'

          = link_to "Register", new_registration_path(resource_name)
