%h2 President:
- if @checklist.president.present?
  %span #{@checklist.president.ballot_number}
  %span #{@checklist.president.ballot_name}
- else
  %span Undecided

%h2 Vice President:
- if @checklist.vice_president.present?
  %span #{@checklist.vice_president.ballot_number}
  %span #{@checklist.vice_president.ballot_name}
- else
  %span Undecided


%h3 Senators
- @checklist.senators.each do |senator|
  %span #{senator.ballot_number}
  %span #{senator.ballot_name}

%h3 Partylist:
- if @checklist.party_list.present?
  %span #{@checklist.party_list.ballot_number}
  %span #{@checklist.party_list.name}
- else
  %span Undecided

:javascript
  //uncomment if print page design is ready :)
  //window.print();
