.mainWrapper
  .checklistContainer.print
    .logo
      = image_tag "logo_login.png", width: '252px', height: '40px', align: 'middle'
    .form-group
      .positionCategory
        %label My President
      .row
        - if @checklist.president.present?
          .col-sm-12
            .candidateOption
              .underLine
              .radioButton
              %span.selectedCandidate #{@checklist.president.name_with_ballot_number}
        - else
          .col-sm-12
            .candidateOption
              .underLine
              .radioButton.undecided
              %span.undecided Undecided

    .form-group
      .positionCategory
        %label My Vice President
      .row
        - if @checklist.vice_president.present?
          .col-sm-12
            .candidateOption
              .underLine
              .radioButton
              %span.selectedCandidate #{@checklist.vice_president.name_with_ballot_number}
        - else
          .col-sm-12
            .candidateOption
              .underLine
              .radioButton.undecided
              %span.undecided Undecided


    .form-group
      .positionCategory
        %label My Senators
      .row
        - if @checklist.senators.present?
          - @checklist.senators.each do |senator|
            .col-xs-6.col-sm-6.col-md-6
              .candidateOption
                .underLine
                .radioButton
                %span.selectedCandidate #{senator.name_with_ballot_number}
        - else
          .col-sm-12
            .candidateOption
              .underLine
              .radioButton.undecided
              %span.undecided Undecided

    .form-group
      .positionCategory
        %label My Party List
      .row
        - if @checklist.party_list.present?
          .col-sm-12
            .candidateOption
              .underLine
              .radioButton
              %span.selectedCandidate #{@checklist.party_list.name_with_ballot_number}
        - else
          .col-sm-12
            .candidateOption
              .underLine
              .radioButton.undecided
              %span.undecided Undecided

:javascript
  //uncomment if print page design is ready :)
  window.print();
