= render 'shared/navbar'
.mainWrapper
  .checklistContainer
    .form-group
      .positionCategory
        %label President
      .row
        - if @checklist.president.present?
          .col-sm-12
            .candidateOption
              .underLine
              .radioButton
              %span.selectedCandidate #{@checklist.president.name_with_ballot_number}
        - else
          .col-sm-12
            .candidateOption
              .underLine
              .radioButton.undecided
              %span.undecided Undecided / Abstain

    .form-group
      .positionCategory
        %label Vice President
      .row
        - if @checklist.vice_president.present?
          .col-sm-12
            .candidateOption
              .underLine
              .radioButton
              %span.selectedCandidate #{@checklist.vice_president.name_with_ballot_number}
        - else
          .col-sm-12
            .candidateOption
              .underLine
              .radioButton.undecided
              %span.undecided Undecided / Abstain


    .form-group
      .positionCategory
        %label Senators
      .row
        - if @checklist.senators.present?
          - @checklist.senators.each do |senator|
            .col-sm-6.col-md-4
              .candidateOption
                .underLine
                .radioButton
                %span.selectedCandidate #{senator.name_with_ballot_number}
        - else
          .col-sm-12
            .candidateOption
              .underLine
              .radioButton.undecided
              %span.undecided Undecided / Abstain

    .form-group
      .positionCategory
        %label Party List
      .row
        - if @checklist.party_list.present?
          .col-sm-12
            .candidateOption
              .underLine
              .radioButton
              %span.selectedCandidate #{@checklist.party_list.name_with_ballot_number}
        - else
          .col-sm-12
            .candidateOption
              .underLine
              .radioButton.undecided
              %span.undecided Undecided / Abstain

    .actionBar
      .mainWrapper
        .actionBarContainer
          = link_to 'Edit checklist', edit_checklist_path, :class => "editList"
          = link_to 'Print checklist', print_checklist_path, :class => "printList", target: '_blank'
          = link_to 'Download as Pdf', download_checklist_path(format: :pdf), :class => "downloadList", target: '_blank'
