%ul
  %li
    = link_to 'Presidents', admin_presidents_path
  %li
    = link_to 'Vice Presidents', admin_vice_presidents_path
  %li
    = link_to 'Parties', admin_parties_path
  %li
    = link_to 'Party Lists', admin_party_lists_path
  %li
    = link_to 'Senators', admin_senators_path
