= render 'shared/navbar'
.mainWrapper
  .loginWrapper
    .row
      .col-md-7.col-md-offset-2
        .loginRightContent.edit
          -# .topBorder.red
          -# .topBorder.blue
          -# .topBorder.yellow
          %h1 Edit My Password
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
            = devise_error_messages!
            .form-group
              = f.password_field :current_password, autocomplete: "off", placeholder: 'Current Password', class: 'form-control'
            .form-group
              = f.password_field :password, autocomplete: "off", placeholder: 'New Password', class: 'form-control'
            .form-group
              = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm Password', class: 'form-control'
            .from-group.buttons
              = f.submit "Update", class: 'btn registerBtn'
            .form-group.buttons
              = link_to 'Cancel', edit_checklist_path
