.loginBg
%ul.cb-slideshow
  %li
    %span
  %li
    %span
  %li
    %span
  %li
    %span
  %li
    %span
  %li
    %span
  %li
    %span
  %li
    %span
  %li
    %span
  %li
    %span
  %li
    %span
  %li
    %span
  %li
    %span
.loginWrapper
  .row
    .col-md-6
      .loginLeftContent
        .logo
        %p Maging handa ngayong darating na eleksyon. Create your computerized kodigo with Balota2016 to help you remember who you want to vote for, help prevent overvoting, and to remind you who you voted for when you're checking your voting receipt. VOTE WISELY!

        %p Note: We won't be collecting any sensitive data. This web app will simply help you create your list.
    .col-md-6
      .loginRightContent
        .topBorder.red
        .topBorder.blue
        .topBorder.yellow
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          %h1 SIGN UP
          .form-group
            = f.text_field :username, autofocus: true, placeholder: 'Username', class: 'form-control'
          .form-group
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            = f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control'
          .form-group
            = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm Password', class: 'form-control'
          .form-group.buttons
            = f.submit "Sign up", class: 'btn registerBtn'
          .lineSeparator
            .or or
        = render "devise/shared/links"
