.loginWrapper
  .row
    .col-md-6
      .loginLeftContent
        .logo
        %p While it was just a TV show, that little speech at the beginning of the original Star Trek show really did do a good job of capturing our feelings about space. It is those feelings that drive our love of astronomy and our desire to learn more and more about it.
    .col-md-6
      .loginRightContent
        .topBorder.red
        .topBorder.blue
        .topBorder.yellow
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          %h1 SIGN UP
          .form-group
            = f.text_field :username, autofocus: true, placeholder: 'Username', class: 'form-control'
          .form-group
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            = f.password_field :password, autocomplete: "off", placeholder: 'Password', class: 'form-control'
          .form-group
            = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirm Password', class: 'form-control'
          .form-group.buttons
            -# = link_to "Log in", new_session_path(resource_name)
            = f.submit "Sign up", class: 'btn registerBtn'
          .lineSeparator
            .or or
        = render "devise/shared/links"
